@model Agencia.Models.ReservaHabitacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReservaHabitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fechaDesde" class="control-label"></label>
                <input asp-for="fechaDesde" class="form-control" />
                <span asp-validation-for="fechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaHasta" class="control-label"></label>
                <input asp-for="fechaHasta" class="form-control" />
                <span asp-validation-for="fechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pagado" class="control-label"></label>
                <input asp-for="pagado" class="form-control" />
                <span asp-validation-for="pagado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantPersonas" class="control-label"></label>
                <input asp-for="cantPersonas" class="form-control" />
                <span asp-validation-for="cantPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="habitacion_fk" class="control-label"></label>
                <select asp-for="habitacion_fk" class ="form-control" asp-items="ViewBag.habitacion_fk"></select>
            </div>
            <div class="form-group">
                <label asp-for="usuarioRH_fk" class="control-label"></label>
                <select asp-for="usuarioRH_fk" class ="form-control" asp-items="ViewBag.usuarioRH_fk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

