@model Agencia.Models.Vuelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="capacidad" class="control-label"></label>
                <input asp-for="capacidad" class="form-control" />
                <span asp-validation-for="capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendido" class="control-label"></label>
                <input asp-for="vendido" class="form-control" />
                <span asp-validation-for="vendido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costo" class="control-label"></label>
                <input asp-for="costo" class="form-control" />
                <span asp-validation-for="costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aerolinea" class="control-label"></label>
                <input asp-for="aerolinea" class="form-control" />
                <span asp-validation-for="aerolinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avion" class="control-label"></label>
                <input asp-for="avion" class="form-control" />
                <span asp-validation-for="avion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="origen_fk" class="control-label"></label>
                <select asp-for="origen_fk" class="form-control" asp-items="ViewBag.origen_fk"></select>
                <span asp-validation-for="origen_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="destino_fk" class="control-label"></label>
                <select asp-for="destino_fk" class="form-control" asp-items="ViewBag.destino_fk"></select>
                <span asp-validation-for="destino_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
