
@{
    ViewData["Title"] = "Base";
}

<div class="db-container">

    <div class="db-grid">
        <a asp-area="" asp-controller="Usuario" asp-action="Index"
           class="btn btn-primary btn-users fs-2 d-flex align-items-center justify-content-center">Usuarios</a>
        <a asp-area="" asp-controller="Hotel" asp-action="Index"
           class="btn btn-warning btn-hotels fs-3 d-flex align-items-center justify-content-center">Hoteles</a>
        <a asp-area="" asp-controller="Vuelo" asp-action="Index"
           class="btn btn-success btn-flights fs-3 d-flex align-items-center justify-content-center">Vuelos</a>
        <a asp-area="" asp-controller="ReservaHabitacion" asp-action="Index"
           class="btn btn-danger btn-booked-hotels fs-3 d-flex align-items-center justify-content-center">
            Hoteles reservados
        </a>
        <a asp-area="" asp-controller="ReservaVuelo" asp-action="Index"
           class="btn btn-info btn-booked-flights fs-3 d-flex align-items-center justify-content-center">
            Vuelos reservados
        </a>
    </div>

</div>

