@model Agencia.Models.ReservaVuelo

@{
    ViewData["Title"] = "Create";
}

<h1 class="my-3">Reservar vuelo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="vuelo_fk" class="control-label">Vuelo</label>
                <select required asp-for="vuelo_fk" id="vuelo" class="form-control" asp-items="ViewBag.vuelo_fk">
                    <option value="">Seleccione el vuelo</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="pagado" class="control-label">Costo</label>
                <input required asp-for="pagado" id="costo" class="form-control" readonly />
                <span asp-validation-for="pagado" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="cantPersonas" class="control-label">Cantidad de personas</label>
                <input required asp-for="cantPersonas" class="form-control" value="1" />
                <span asp-validation-for="cantPersonas" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="usuarioRV_fk" class="control-label">Usuario</label>
                <select required asp-for="usuarioRV_fk" class="form-control" asp-items="ViewBag.usuarioRV_fk"></select>
            </div>
            <div class="form-group d-flex align-items-center">
                <input type="submit" value="Crear" class="btn btn-primary me-2" />
                <a asp-action="Index" class="text-decoration-none">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    const selectVuelo = document.getElementById('vuelo');
    const costoVuelo = document.getElementById('costo');

    function obtenerCostoSeleccionado(vueloId) {
        return fetch(`/Vuelo/ObtenerCostoVuelo?id=${vueloId}`)
            .then(response => {
                return response.text();
            })
            .then(data => {
                return data;
            })
            .catch(error => {
                console.error('Error al obtener el costo del vuelo:', error);
                throw error;
            });
    }

    selectVuelo.addEventListener('change', async function () {
        const selectedCost = await obtenerCostoSeleccionado(this.value);
        costoVuelo.value = selectedCost;
    });


</script>
