@model Agencia.Models.ReservaVuelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservaVuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="pagado" class="control-label"></label>
                <input asp-for="pagado" class="form-control" />
                <span asp-validation-for="pagado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantPersonas" class="control-label"></label>
                <input asp-for="cantPersonas" class="form-control" />
                <span asp-validation-for="cantPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vuelo_fk" class="control-label"></label>
                <select asp-for="vuelo_fk" class="form-control" asp-items="ViewBag.vuelo_fk"></select>
                <span asp-validation-for="vuelo_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioRV_fk" class="control-label"></label>
                <select asp-for="usuarioRV_fk" class="form-control" asp-items="ViewBag.usuarioRV_fk"></select>
                <span asp-validation-for="usuarioRV_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
