@model Agencia.Models.ReservaVuelo

@{
    ViewData["Title"] = "Edit";
}

<h1 class="my-3">Editar reserva</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group mb-3">
                <label asp-for="pagado" class="control-label">Pago</label>
                <input required asp-for="pagado" class="form-control" />
                <span asp-validation-for="pagado" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="cantPersonas" class="control-label">Cantidad de personas</label>
                <input required asp-for="cantPersonas" class="form-control" />
                <span asp-validation-for="cantPersonas" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="vuelo_fk" class="control-label">Vuelo</label>
                <select required asp-for="vuelo_fk" class="form-control" asp-items="ViewBag.vuelo_fk"></select>
                <span asp-validation-for="vuelo_fk" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="usuarioRV_fk" class="control-label">Usuario</label>
                <select required asp-for="usuarioRV_fk" class="form-control" asp-items="ViewBag.usuarioRV_fk"></select>
                <span asp-validation-for="usuarioRV_fk" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <input type="submit" value="Guardar" class="btn btn-primary me-2" />
                <a asp-action="Index" class="text-decoration-none">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
