@model Agencia.Models.ReservaHotel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservaHotel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="fechaDesde" class="control-label"></label>
                <input asp-for="fechaDesde" class="form-control" />
                <span asp-validation-for="fechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaHasta" class="control-label"></label>
                <input asp-for="fechaHasta" class="form-control" />
                <span asp-validation-for="fechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pagado" class="control-label"></label>
                <input asp-for="pagado" class="form-control" />
                <span asp-validation-for="pagado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cant_hab_chicas" class="control-label"></label>
                <input asp-for="cant_hab_chicas" class="form-control" />
                <span asp-validation-for="cant_hab_chicas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cant_hab_medianas" class="control-label"></label>
                <input asp-for="cant_hab_medianas" class="form-control" />
                <span asp-validation-for="cant_hab_medianas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cant_hab_grandes" class="control-label"></label>
                <input asp-for="cant_hab_grandes" class="form-control" />
                <span asp-validation-for="cant_hab_grandes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hotel_fk" class="control-label"></label>
                <select asp-for="hotel_fk" class="form-control" asp-items="ViewBag.hotel_fk"></select>
                <span asp-validation-for="hotel_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuarioRH_fk" class="control-label"></label>
                <select asp-for="usuarioRH_fk" class="form-control" asp-items="ViewBag.usuarioRH_fk"></select>
                <span asp-validation-for="usuarioRH_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
