.packages-content {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.packages-cards {
    max-width: fit-content;
    min-height: fit-content;
    cursor: pointer;
}

.package-hotel-name {
    max-width: 368px;
}


