.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 9%;
    margin-top: 50px;
    justify-content: center;
}

    .box-container .box {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        max-width: 942px;
        min-height: 296px;
    }

        .box-container .box .hotel-image {
            overflow: hidden;
        }

            .box-container .box .hotel-image img {
                width: 439px;
                height: 296px;
            }

        .box-container .box .content {
            padding: 16px;
        }

            .box-container .box .content h3 {
                color: #333;
            }

                .box-container .box .content h3 i {
                    color: #ffc107;
                }

            .box-container .box .content .location-distance {
                font-size: 0.75rem;
                color: rgba(0, 0, 0, 0.526);
            }

            .box-container .box .content .map {
                font-size: 0.75rem;
                font-weight: 600;
                opacity: 75%;
                white-space: nowrap;
            }

            .box-container .box .content .stars .rating {
                display: inline-block;
                color: white;
                background-color: #03a691;
                border-radius: 5px;
                font-size: 0.75rem;
                padding: 0.35rem;
            }

            .box-container .box .content .stars i {
                color: #ffc107;
            }

            .box-container .box .content .capacity-alert {
                display: inline-block;
                color: rgb(197, 0, 0);
                background-color: rgba(255, 0, 0, 0.088);
                padding: 0.2rem;
                margin-bottom: 1rem;
                border-radius: 5px;
                font-size: 0.75rem;
            }

        .box-container .box .price {
            color: #333;
        }

            .box-container .box .price span {
                color: #666;
                text-decoration: line-through;
            }

        .box-container .box .payment-info {
            padding: 1rem;
            padding-top: 1.6rem;
            font-size: 0.75rem;
        }

            .box-container .box .payment-info .tax-message {
                color: rgba(0, 0, 0, 0.616);
            }

.buy-button {
    width: 100% !important;
}

@media (max-width: 768px) {
    .box-container {
        max-width: 439px;
        margin-left: 13%;
        margin-right: 11%;
    }

        .box-container .box .content {
            padding-bottom: 0px;
            border-bottom: 0.01rem solid rgba(0, 0, 0, 0.2);
        }

        .box-container .box .payment-info {
            padding-top: 0px;
        }

    .book-card {
        max-width: 350px !important;
        height: fit-content;
    }
}
