@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-backgound: #003906;
    --color-default: #008a0e;
    --color-second: #54c45e;
    --color-white: #fff;
    --color-body: #f2f3f5;
    --color-light: #e0e0e0;
    --color-text: #333333;
    --color-dark: #3333338e;
}

* {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    min-height: 100%;
    width: 78px;
    z-index: 99;
    background-color: var(--color-body);
    transition: all .5s ease;
}

    .sidebar.open {
        width: 260px;
    }

    .sidebar .logo_details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .sidebar .logo_details .logo_name {
            opacity: 0;
            color: var(--color-text);
            font-size: 20px;
            font-weight: 600;
            transition: all .5s ease;
            white-space: nowrap;
        }

    .sidebar.open .logo_details .icon,
    .sidebar.open .logo_details .logo_name {
        opacity: 1;
    }

    .sidebar .logo_details #btn {
        position: absolute;
        top: 25%;
        right: 0;
        transform: translateY(-50%);
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all .5s ease;
    }

    .sidebar.open .logo_details #btn {
        text-align: right;
    }

    .sidebar i {
        color: var(--color-text);
        height: 60px;
        line-height: 60px;
        min-width: 50px;
        font-size: 25px;
        text-align: center;
    }

.sidebar-content {
    max-height: calc(100vh - 68px);
}

.simplebar-scrollbar:before {
    background-color: rgb(99, 98, 98);
}

.simplebar-track.simplebar-horizontal {
    display: none;
}

.sidebar li {
    position: relative;
    margin: 15px 0;
    list-style: none;
}

.sidebar input {
    font-size: 15px;
    color: var(--color-text);
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-body);
    transition: all .5s ease;
}

    .sidebar input::placeholder {
        color: var(--color-text);
    }

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: var(--color-body);
    color: var(--color-text);
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 83%;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-body);
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}

    .sidebar li a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        background-color: var(--color-dark);
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
        transform-origin: left;
        z-index: -2;
    }

    .sidebar li a:hover::after {
        transform: scaleX(1);
        color: var(--color-default);
    }

    .sidebar li a .link_name {
        color: var(--color-text);
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        pointer-events: auto;
        transition: all 0.4s ease;
        pointer-events: none;
        opacity: 0;
    }

    .sidebar li a:hover .link_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: var(--color-body);
    }

.sidebar.open li a .link_name {
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 5px;
}

.sidebar li i {
    height: 35px;
    line-height: 25px;
    font-size: 18px;
    border-radius: 5px;
}

.sidebar div.profile {
    width: 78px;
    left: 0;
    top: 0px;
    padding: 5px 14px;
    overflow: visible;
    transition: all .5s ease;
    background-color: #54c45e;
}

.sidebar.open div.profile {
    width: 260px;
    background-color: #54c45e;
}

.sidebar .sidebar-content .profile_details {
    display: flex;
    background-color: #54c45e;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}

.user-img {
    position: absolute;
    margin-top: 20px;
}

.profile_content {
    visibility: hidden;
}

.sidebar.open .sidebar-content .profile_details .user-img {
    position: absolute;
    margin-top: 66px;
}

.sidebar.open .sidebar-content .profile_details .profile_content {
    visibility: visible;
    text-align: center;
    padding-bottom: 40px;
}

.first-letter {
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(40, 40, 40);
}

.sidebar .user-img img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.name, .designation {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-text);
    white-space: nowrap;
}

.designation {
    font-size: 12px;
}

.line {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0.1rem solid #5e5e5e5a;
    border-radius: 5px;
    display: block;
    width: 50px;
}

.sidebar.open .line {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0.1rem solid #5e5e5e5a;
    border-radius: 5px;
    display: block;
    margin-left: 45px;
    width: 120px;
}

@media (max-width: 1285px) {
    .sidebar {
        opacity: 0;
        visibility: hidden;
    }

        .sidebar.open {
            opacity: 1;
            visibility: visible;
        }
}
