:root {
    --color-backgound: #003906;
    --color-default: #008a0e;
    --color-second: #54c45e;
    --color-white: #fff;
    --color-body: #f2f3f5;
    --color-light: #e0e0e0;
    --color-text: #333333;
    --color-dark: #3333338e;
}

.topBar {
    background-color: var(--color-default);
    height: 70px;
}

@media (max-width: 1285px) {
    .display-menu-icon {
        display: block;
    }

    .topBar {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1285px) {
    .display-menu-icon {
        display: none;
    }

    .topBar {
        display: flex;
        flex-direction: row-reverse;
    }
}

.user-navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.user2-img {
    position: absolute;
    margin-right: 10px;
}

    .user2-img img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

.first-letter {
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(40, 40, 40);
}

.username-role {
    color: var(--color-white);
    white-space: nowrap;
    margin-right: 80px;
}

.username {
    font-size: 0.85rem;
    font-weight: 600;
}

.role {
    font-size: 0.75rem;
    font-weight: 600;
    opacity: 90%;
}